@model List<PetGrooming.Models.Pet>

@{
    ViewBag.Title = "List";
}
<h2>List of Pets</h2><a href="/pet/New/">Add new pet</a>
<table border="1" class="table table-striped">
    <tr>
        <th><label>Pet Name</label></th>
        <th><label>Pet species</label></th>
        <th><label>Pet weight</label></th>
        <th><label>Pet Notes</label></th>
        <th colspan="2"><label>Action</label></th>
    </tr>
    @{
        foreach (var Pet in Model)
        {
        <tr>
            <td><a href="/Pet/Show/@Pet.PetID"><label>@Pet.PetName</label></a></td>
            <td><label>@Pet.Species.Name</label></td>
            <td><label>@Pet.Weight</label></td>
            <td><label>@Pet.Notes</label></td>
            <td><a href="/Pet/Update/@Pet.PetID" style="padding:10px; color:white; border-radius:20%; background-color:green">Update</a></td>
            <td><a href="/Pet/Delete/@Pet.PetID" style="padding:10px; color:white; border-radius:20%; background-color:red">Delete</a></td>
        </tr>
        }
    }
</table>